.nav {
    background-color: pink;
    flex-direction: column;
    width: 100%;
}
.navBar {
    display: flex;
    width: 13%;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a.active {
    color: blue;
}